    body{
        background-color:gray;
        
    }
    p{color: aliceblue;
    background-color: black;}
    
    .tarjeta{
        border: 4px solid black;
        margin:0;
        padding: 0s;
        width: 500px;
        height: 500px;
        text-align: center;
        margin: auto;
    }
    .uno:hover{
    background-color: black;
    color: aliceblue;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    }
    .dos:hover{
        background-color: gray;
        color: black;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    }
    .tres:hover{
        background-color: aliceblue;
        color:black;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    }
    img{
        width: 150px;
        height: 150px;
    }
    